@mixin custom-scrollbar($thumb-color: #ccc, $height: 6px) {
  scrollbar-width: thin;
  scrollbar-color: $thumb-color transparent;

  &::-webkit-scrollbar {
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}